body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.loader-wrapper {
    width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
 .loader {
	 position: relative;
	 width: 75px;
	 height: 100px;
}
 .loader__bar {
	 position: absolute;
	 bottom: 0;
	 width: 10px;
	 height: 50%;
	 background: #fff;
	 transform-origin: center bottom;
	 box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
 .loader__bar:nth-child(1) {
	 left: 0px;
	 transform: scale(1, 0.2);
	 animation: barUp1 4s infinite;
}
 .loader__bar:nth-child(2) {
	 left: 15px;
	 transform: scale(1, 0.4);
	 animation: barUp2 4s infinite;
}
 .loader__bar:nth-child(3) {
	 left: 30px;
	 transform: scale(1, 0.6);
	 animation: barUp3 4s infinite;
}
 .loader__bar:nth-child(4) {
	 left: 45px;
	 transform: scale(1, 0.8);
	 animation: barUp4 4s infinite;
}
 .loader__bar:nth-child(5) {
	 left: 60px;
	 transform: scale(1, 1);
	 animation: barUp5 4s infinite;
}
 .loader__ball {
	 position: absolute;
	 bottom: 10px;
	 left: 0;
	 width: 10px;
	 height: 10px;
	 background: #fff;
	 border-radius: 50%;
	 animation: ball 4s infinite;
}
 @keyframes ball {
	 0% {
		 transform: translate(0, 0);
	}
	 5% {
		 transform: translate(8px, -14px);
	}
	 10% {
		 transform: translate(15px, -10px);
	}
	 17% {
		 transform: translate(23px, -24px);
	}
	 20% {
		 transform: translate(30px, -20px);
	}
	 27% {
		 transform: translate(38px, -34px);
	}
	 30% {
		 transform: translate(45px, -30px);
	}
	 37% {
		 transform: translate(53px, -44px);
	}
	 40% {
		 transform: translate(60px, -40px);
	}
	 50% {
		 transform: translate(60px, 0);
	}
	 57% {
		 transform: translate(53px, -14px);
	}
	 60% {
		 transform: translate(45px, -10px);
	}
	 67% {
		 transform: translate(37px, -24px);
	}
	 70% {
		 transform: translate(30px, -20px);
	}
	 77% {
		 transform: translate(22px, -34px);
	}
	 80% {
		 transform: translate(15px, -30px);
	}
	 87% {
		 transform: translate(7px, -44px);
	}
	 90% {
		 transform: translate(0, -40px);
	}
	 100% {
		 transform: translate(0, 0);
	}
}
 @keyframes barUp1 {
	 0% {
		 transform: scale(1, 0.2);
	}
	 40% {
		 transform: scale(1, 0.2);
	}
	 50% {
		 transform: scale(1, 1);
	}
	 90% {
		 transform: scale(1, 1);
	}
	 100% {
		 transform: scale(1, 0.2);
	}
}
 @keyframes barUp2 {
	 0% {
		 transform: scale(1, 0.4);
	}
	 40% {
		 transform: scale(1, 0.4);
	}
	 50% {
		 transform: scale(1, 0.8);
	}
	 90% {
		 transform: scale(1, 0.8);
	}
	 100% {
		 transform: scale(1, 0.4);
	}
}
 @keyframes barUp3 {
	 0% {
		 transform: scale(1, 0.6);
	}
	 100% {
		 transform: scale(1, 0.6);
	}
}
 @keyframes barUp4 {
	 0% {
		 transform: scale(1, 0.8);
	}
	 40% {
		 transform: scale(1, 0.8);
	}
	 50% {
		 transform: scale(1, 0.4);
	}
	 90% {
		 transform: scale(1, 0.4);
	}
	 100% {
		 transform: scale(1, 0.8);
	}
}
 @keyframes barUp5 {
	 0% {
		 transform: scale(1, 1);
	}
	 40% {
		 transform: scale(1, 1);
	}
	 50% {
		 transform: scale(1, 0.2);
	}
	 90% {
		 transform: scale(1, 0.2);
	}
	 100% {
		 transform: scale(1, 1);
	}
}
.bg-steel {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



