{% extends "layout.html" %}
{% block content %}
<h2 id="header"></h2>
    <div id="answers">

        <div class="card shadow p-3 mb-3 rounded">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lesson feedback:</p>
                    <footer class="blockquote-footer">{{grade}}</footer>
                </blockquote>
            </div>
        </div>

    </div>
<script>
function displayAnswer(){
    var answer= [1,2,3,4]
    answer = {{list|safe}}
    for(i=0;i<answer.length;i++){
         var html='<div class="card shadow p-3 mb-3 rounded">\n' +
       '  <div class="card-body">\n' +
       '    <blockquote class="blockquote mb-0">\n' +
       '      <p>'+ answer[i].q_label+'</p>\n' +
       '      <footer class="blockquote-footer">'+ answer[i].ans_label +'</blockquote>\n' +
       '  </div>\n' +
       '</div>'

     document.getElementById("answers").innerHTML +=html;
    }
}
function displayName(){
    document.getElementById("header").innerHTML = "Answers of {{name}}";
}
displayName()
displayAnswer();
</script>
{% endblock %}