{% extends "layout.html" %}
{% block content %}
    <h2>Editor</h2>



    <div class="modal fade" id="OpenEnded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="question" class="col-form-label">Question:</label>
            <input type="text" class="form-control" id="Oquestion">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Comment:</label>
            <textarea class="form-control" id="CommentO"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">

<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="SaveOQ" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
   <div  id="edit">

   </div>
<button type="button" class="btn btn-primary" id="save_edits">
 Save
</button>
    <script>
      $('#save_edits').on('click', function(){
        for (i = 0; i < removable_questions_id.length; i++){
          theUrl = '/delete_question?form_id={{temp_id}}&question_id=' + removable_questions_id[i];
          xmlhttp = new XMLHttpRequest(); 
          xmlhttp.open("POST", theUrl, false);
          xmlhttp.send();
        }
        if (removable_questions_id.length == {{size|safe}}){
          alert("Template succesfully deleted");
          theUrl = '/delete_template/{{temp_id}}';
          xmlhttp = new XMLHttpRequest(); 
          xmlhttp.open("POST", theUrl, false);
          xmlhttp.send();
        }
        document.location.href = "/forms/{{current_user.id}}";
      });

      var removable_questions_id = [];
      var questions = {{list|safe}};
      for (i = 0; i < questions.length; i++) {
        if (questions[i].answers.length == 0){
          displayOpenQuestion(questions[i].question, "Comment", questions[i].id);
        }else if (questions[i].answers.length == 1){
          displayClosedQuestion(questions[i].question, questions[i].answers[0], " ", " ", questions[i].id );
        }else if (questions[i].answers.length == 2){
          displayClosedQuestion(questions[i].question, questions[i].answers[0], questions[i].answers[1], " ", questions[i].id);
        }else if (questions[i].answers.length == 3){
          displayClosedQuestion(questions[i].question, questions[i].answers[0], questions[i].answers[1], questions[i].answers[2], questions[i].id);
        }
      }

function displayOpenQuestion(question, comment, id) {
    var question = question;
    var comment = comment;

    var html = '<div class="card shadow p-3 mb-3 bg-white rounded" style="max-width: 20rem;" id="oq' + id + '">\n' +
        '  <div class="card-header">Open Ended Question</div>\n' +
        '  <div class="card-body">\n' +
        '    <h5 class="card-title" id= "oq_q' + id + '">'+question+'</h5>\n' +
        '    <p class="text-muted">Comment: '+comment+'</p>\n' +
        '  </div>\n' +
        //'<button type="button" data-toggle="modal" data-target="#OpenEnded" onclick="editQuestion(1,question,comment)" class="btn btn-primary mb-2">Edit</button>\n' +
        '<button type="button" id="btn' + id + '"class="btn btn-danger remove-button-cq">Delete</button>\n' +
        '</div>';

    document.getElementById('edit').innerHTML += html;
    $('#edit').on('click', '#btn' + id, function(){
    $(this).parent().remove();
    removable_questions_id.push(id);
    });

}
function editQuestion(id,question, comment){

    //var input = document.getElementById ("Oquestion");
    //input.placeholder = "No need to fill this field";
    document.getElementById("Oquestion").value = "Johnny Bravo";
  
    ('#OpenEnded').modal('show');
    ('#OpenEnded').on('show.bs.modal', function(event){
      alert("cool");
    });
    //$('#OpenEnded #Oquestion').val("blabla");


}

function displayClosedQuestion(question, var1,var2,var3, id) {
    var question = question;
    var var1 = var1;
    var var2 = var2;
    var var3 = var3;

    var html = '<div class="card shadow p-3 mb-3 bg-white rounded" style="max-width: 20rem;">\n' +
        '  <div class="card-header">Closed Ended Question</div>\n' +
        '  <div class="card-body">\n' +
        '    <h5 class="card-title">'+question+'</h5>\n' +
        '<div class="form-check">\n' +
        '  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">\n' +
        '  <label class="form-check-label" for="defaultCheck1">\n' + var1 +
        '  </label>\n' +
        '</div>\n' +
        '<div class="form-check">\n' +
        '  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">\n' +
        '  <label class="form-check-label" for="defaultCheck1">\n' + var2 +
        '  </label>\n' +
        '</div>\n'+
        '<div class="form-check">\n' +
        '  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">\n' +
        '  <label class="form-check-label" for="defaultCheck1">\n' + var3 +
        '  </label>\n' +
        '</div>\n' +
        '  </div>\n' + //'<button type="button" data-toggle="modal" data-target="#ClosedEnded" class="btn btn-primary mb-2">Edit</button>' +
        '<button type="button" class="btn btn-danger" id="btn'+ id +'">Delete</button>' +
        '</div>';

    document.getElementById('edit').innerHTML += html;
    $('#edit').on('click', '#btn' + id, function(){
    $(this).parent().remove();
    removable_questions_id.push(id);
    });


}
</script>
{% endblock %}