{% extends "layout.html" %}
{% block content %}
    <h2>Your Surveys</h2>

    <div  id="form"></div>

    <script>
      $(window).one('beforeunload', function(ev){
alert("ds");
return;
      });
var user_id = {{current_user.id}};
var i;
var html;
var form =[1,2,3,4,5,6];
form = {{list|safe}};
for (i = 0; i < form.length; i++) {

  html =
      '<div class="btn btn-light btn-lg btn-block shadow p-3 mb-3 bg-white rounded" style="height:65px">\n' +
           '        <a style="padding: 0; border: none; background: none; font-size : 20px;" class="btn" href="/Editor/'+ form[i].id +'">\n' +
      '            ' + form[i].label + ' '
      '        </a>\n'+
      '        <a href="/" style="float: right" class="btn btn-outline-primary">\n' +
      '            Share\n' +
      '        </a>\n' +
      '    </div>'
    document.getElementById('form').innerHTML += html;
}

</script>
{% endblock %}