{% extends "layout.html" %}
{% block content %}
    <h2>Your Surveys</h2>
    <div  id="form"></div>

    <script>
var user_id = {{current_user.id}};
var i;
var html;
var form =[1,2,3,4,5,6];
form = {{list|safe}};
for (i = 0; i < form.length; i++) {
  html = '<div class="list-group">\n' +
      '  <a title= "Press to edit feedback form" href="/Editor" class="list-group-item list-group-item-action active mb-3 ">' + form[i].label + '</a>\n' +
      '</div>'
    document.getElementById('form').innerHTML += html;
}

</script>
{% endblock %}