{% extends "layout.html" %}
{% block content %}
<h2>Available results</h2>
     <div  id="form"></div>
<script>
var i;
var html;
var forms =[1,2,3,4,5,6];
forms = {{list|safe}};
for (i = 0; i < forms.length; i++) {

  var html =
      '  <a href="/Responds/'+ forms[i].id+'" class="btn btn-light btn-lg btn-block shadow p-3 mb-3 bg-white rounded" id="fb'+ forms[i].id +'">' + forms[i].label + '</a>\n';

    document.getElementById('form').innerHTML += html;
    $('#form').on('click', '#fb' + forms[i].id, function(){
      temp_id = $(this).get(0).id;
      theUrl = '/Responds/' + String(temp_id).substring(2);
      xmlhttp = new XMLHttpRequest(); 
      xmlhttp.open("GET", theUrl, true);
      xmlhttp.send();
    });
}

</script>

{% endblock %}